/********************/
/*     Overall      */
/********************/

/* Colors: */
/* #c8c3bc; text color*/
/* #62a2b3; image color */

/* Body and navbar */
body {
    /* font: 15px Garamond, Helvetica, Arial, sans-serif; */
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
    background-color: #181a1b;
}

.navbar {
  background-color: #1c1e1f;
}

body,
.navbar div .collapse > ul > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #c8c3bc;
}

/* h2 small -> MSc. */
.navbar div .collapse > ul > li > a,
h2 > small {
    color: #9d9488
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292a;
}

.navbar {
    border-color: #373b3e;
}

/* Align menu text with icons */
.navbar div .collapse > ul > li > a {
    line-height: 24px;
    padding-top: 19px;
}

.navbar div .collapse > ul > li > a > i,
.navbar div .navbar-header > a {
    vertical-align: top;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 950px; /* or 800px */
}


/* Set link colors */
.color-theme, a:link, a:visited, a:hover {
    color: #62a2b3;
}

#name-row {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 26px 0 20px 0;
    column-gap: 10px;
}

#icons-row {
    display: flex;
    height: 33px;
    align-items: center;
    column-gap: 5px;
}


/* Labels */
a.pubs-label-theme,
a.icons-label-theme {
    background-color: #62a2b3;
    color: #e9e8e6;
}

a.pubs-label-theme {
    padding: .6em .6em .4em .6em;
}

/* CV Google scholar */
a.icons-label-theme {
    height: 60%;
    font-size: 68%;
    font-weight: 700;
    display: flex;
    padding: .25em .6em 0 .6em;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
}

a.icons-label-theme > img {
    width: 1.25em;
    height: 1.2em;
    margin-right: .4em;
    margin-bottom: .55em
}

/* Set up size 11 material icons */
.material-icons.md-13 { font-size: 13px; }

/* Input form fields */
#message,
input[type=text],
input[type=submit] {
    background-color: #2b2a33;
    color: #c8c3bc;
    border-color: #9d9488;
    border-style: solid;
    padding: 5px;
}

#message:hover,
#message:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=submit]:hover {
    border-color: #c8c3bc;
    outline-style: none;
}

#message, input[type=text] {
    border-width: 1px;
}

#search-bar {
    width: 280px;
    max-width: 90%;
    margin: 0 0 20px 0;
}

#message {
    display: block;
    max-width: 95%;
    margin-bottom: 6px;
}

input[type=submit] {
    border-width: 3px;
    border-radius: 3px;
}

input[type=submit]:hover {
    background-color: #52525e;
}

/********************/
/*     Main page    */
/********************/

.contacting-me {
    margin-bottom: 5cm;
    margin-top: 1cm;
}

#portrait {
    width: 100%;
    max-width: 230px;
}

@media (min-width: 768px) {
    #portrait {
        margin-top:25px;
    }
}

/********** xxs devices only **********/
@media only screen and (max-width: 400px) {
    .col-xxs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}

/********************/
/* Publication page */
/********************/

#morearrow {
    cursor: pointer;
}

/* Spacing in publications view*/
#pubhidden {
    margin-top: 5px;
}

#pubButtons {
    margin-top: 5px;
}

.pic {
    cursor: pointer;
}

.list-group-item {
    background-color: #181a1b;
    border-color: #373b3e;
    border-width: 1px;
}

/* Align and change size of icons */
.list-group-item-text i {
    vertical-align:top;
    font-size: 18px;
}

.img-modal {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
}

.pic-modal .modal-content {
    text-align: center;
    box-shadow: none;
    border-radius: 0px;
    background: transparent;
    border-color: transparent;
}

.pic-modal-back {
    opacity: 0.75 !important;
}

/********************/
/*  Projects page   */
/********************/

.new-project {
  margin-top: 1.2cm;
}

/* Image rows */
.row-compression, .row-face, .row-deepsplines {
    border: 6px solid #62a2b3;
    background-color: white;
}

/* Clear floats after image containers */
.row-radiobooks::after,
.row-deepsplines::after,
.row-compression::after,
.row-face::after {
    content: "";
    clear: both;
    display: table;
}

.row-radiobooks, .row-deepsplines, .row-compression, .row-face {
    margin-top: .4cm;
    margin-bottom: 1cm;
}

.margin-div {
    padding: 10px;
    width: 100%;
    float: left;
}

.row-radiobooks {
   width: 20%;
   padding: 10px;
}

.row-deepsplines {
    width: 40%;
 }

.row-compression{
    width: 80%;
}

.row-face{
    width: 60%;
}

/* Image columns */
.column-video-comp,
.column-image-comp,
.column-face {
    float: left;
}

.column-video-comp, .column-image-comp {
    padding: 5px;
    width: 50.00%
}

.column-video-comp {
    border-right: 2px solid #62a2b3;
}

.column-video-comp > a {
    margin-left: 18px;
    margin-right: 18px;
}

.img-video-comp {
    margin-top: 18px;
    margin-bottom: 18px;
    width: 90%;
}

.img-image-comp {
    width: 90%;
    margin: 55px 15px 0px 15px;
}

.column-face {
    width: 33.33%;
    padding: 10px;
}


/* Tiles */

/* https://stackoverflow.com/questions/45907673 */
/* https://stackoverflow.com/questions/25832340 */
.tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 40px;
}

/* https://stackoverflow.com/questions/25832340 */
.tiles-box {
  width: 280px;
  height: 280px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #9d9488;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.empty-tiles-box {
    width: 280px;
    height: 280px;
}

@media only screen and (max-width: 950px) {
    .empty-tiles-box {
        display: none;
    }
    .tiles-wrapper {
        justify-content: center;
    }
}

.tiles-box:hover {
    outline: thick solid #62a2b3;
    background-color: #c8c3bc;
}

.tiles-box.c {
    padding: 8px;
}

.tiles-box.d {
    padding: 12px;
}

.tiles-box.a > img {
    width: 80%;
}

.tiles-box.b > img {
    height: 70%;
}

.tiles-box.c > img,
.tiles-box.d > img {
    width: 100%;
}
