/********************/
/*     Overall      */
/********************/

/* Colors: */
/* #c8c3bc; text color*/
/* #62a2b3; image color */

body {
  /* font: 15px Garamond, Helvetica, Arial, sans-serif; */
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #181a1b;
  color: #c8c3bc;
}

/* For MSc */
h2 > small {
  color: #9d9488;
}

.color-theme {
  color: #62a2b3;
}

/* Set link colors */
a:link, a:visited, a:hover {
    color: #62a2b3;  /*image color*/
    cursor: pointer;
}

a.label-theme {
  color: #e9e8e6;
  background-color: #62a2b3;
  padding: .4em .6em;
}

/* Labels */
small > a.label-theme {
  padding: .6em .8em;
}

.navbar {
  background-color: #181a1b;
  border-color: #373b3e;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 800px */
}

/* Align menu text with icons */
.navbar div .collapse > ul > li > a {
  line-height:24px;
}
.navbar div .collapse > ul > li > a > i,
.navbar div .navbar-header > a {
  vertical-align:top;
}

.navbar div .collapse > ul > li > a:hover {
  color: #c8c3bc
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #c8c3bc;
  background-color: #26292a;
}

/* Set up size 11 material icons */
.material-icons.md-13 { font-size: 13px; }

input[type=text], input[type=submit] {
  background-color: #2b2a33;
  border: 1px solid #9d9488;
  color: #c8c3bc;
  margin: 4px;
}

input[type=text]:hover, input[type=text]:focus{
  border-color: #c8c3bc;
  outline-style: none;
}

input[type=submit] {
  border: 3px solid #9d9488;
  border-radius: 3px;
  /* font-weight: bold; */
}

input[type=submit]:hover {
  background-color: #52525e;
  border-color: #c8c3bc;
}

/********************/
/*     Main page    */
/********************/

.contacting-me {
  margin-bottom: 5cm;
  margin-top: 1cm;
}

#portrait {
  width: 100%;
  max-width: 230px;
}

@media (min-width: 768px) {
  #portrait {
    margin-top:25px;
  }
}

/********** xxs devices only **********/
@media (max-width: 400px) {
  .col-xxs-12{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float: left;
    width: 100%;
  }
}

/********************/
/* Publication page */
/********************/

#morearrow {
  cursor: pointer;
}

/* Spacing in publications view*/
#pubhidden {
  margin-top: 5px;
}

#pubButtons {
  margin-top: 5px;
}

.pic {
  cursor: pointer;
}

.list-group-item {
  background-color: #181a1b;
  border-color: #373b3e;
  border-width: 1px;
}

/* Align and change size of icons */
.list-group-item-text i {
  vertical-align:top;
  font-size: 18px;
}

.img-modal {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
}

.pic-modal .modal-content {
  text-align: center;
  box-shadow: none;
  border-radius: 0px;
  background: transparent;
  border-color: transparent;
}

.pic-modal-back {
  opacity: 0.75 !important;
}

/********************/
/* Projects page */
/********************/

.new-project {
  margin-top: 1.2cm;
}

/* Image rows */

.row-compression, .row-face, .row-deepsplines {
    border: 2px solid #62a2b3;
    background-color: white;
}

/* Clear floats after image containers */
.row-radiobooks::after,
.row-deepsplines::after,
.row-compression::after,
.row-face::after {
    content: "";
    clear: both;
    display: table;
}

.row-radiobooks, .row-deepsplines, .row-compression, .row-face {
    margin-top: .4cm;
    margin-bottom: 1cm;
    padding: 10px;
}

.row-radiobooks {
   width: 20%;
}

.row-deepsplines {
    width: 40%;
 }

.row-compression{
    width: 80%;
}

.row-face{
    width: 60.00%;
}

/* Image columns */

.column-video-comp,
.column-image-comp,
.column-face {
    float: left;
}

.column-video-comp, .column-image-comp {
    padding: 5px;
    width: 50.00%
}

.column-image-comp{
    margin-top: .8cm;
}

.column-face {
    width: 33.33%;
    padding: 10px;
}
