/********************/
/*     Overall      */
/********************/

/* Colors: */
/* #c8c3bc; text color*/
/* #62a2b3; image color */

/* Body and navbar */
body {
    font-size: 19px;
    font-family: Garamond, Helvetica, Arial, sans-serif;
    /* font-family: Lucida Grande,Helvetica,Arial, sans-serif; */
    line-height: 1.4em;
    background-color: #181a1b;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.4em;
    margin-bottom: 13px;
}

h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 1.1em;
}

.navbar {
    background-color: #1c1e1f;
}

body,
.navbar div .collapse > ul > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #c8c3bc;
}

/* h2 small -> MSc. */
.navbar div .collapse > ul > li > a,
h2 > small {
    color: #9d9488
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #26292a;
}

.navbar {
    border-color: #373b3e;
}

/* Align menu text with icons */
.navbar div .collapse > ul > li > a {
    line-height: 24px;
    padding-top: 19px;
}

.navbar div .collapse > ul > li > a > i,
.navbar div .navbar-header > a {
    vertical-align: top;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 950px; /* or 800px */
}

.section {
    margin-bottom: 30px;
}

.subsection {
    margin-top: 50px;
}

.subsubsection {
    margin-top: 30px;
}

/* Set link colors */
.color-theme, a:link, a:visited, a:hover {
    color: #62a2b3;
}

#name-row {
    display: flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 26px 0 20px 0;
    row-gap: 10px;
    column-gap: 10px;
}

#name-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#icons-row {
    display: flex;
    align-items: center;
    column-gap: .4em;
}


/* Labels */
a.pubs-label-theme,
a.icons-label-theme {
    background-color: #62a2b3;
    color: #e9e8e6;
}

a.pubs-label-theme {
    padding: .6em .6em .4em .6em;
}

/* CV Google scholar */
a.icons-label-theme {
    height: 60%;
    font-size: 70%;
    font-weight: 700;
    display: flex;
    padding: 0em .6em;
    align-items: center;
    justify-content: center;
    border-radius: .25em;
}

a.icons-label-theme > img {
    width: 1.25em;
    height: 1.25em;
    margin-right: .4em;
    margin-bottom: .2em
}

/* Set up size 11 material icons */
.material-icons.md-13 { font-size: 13px; }

/* Input form fields */
#message,
input[type=text],
input[type=submit] {
    background-color: #2b2a33;
    color: #c8c3bc;
    border-color: #9d9488;
    border-style: solid;
    padding: 5px;
}

#message:hover,
#message:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=submit]:hover {
    border-color: #c8c3bc;
    outline-style: none;
}

#message, input[type=text] {
    border-width: 1px;
}

#search-bar {
    width: 280px;
    max-width: 90%;
    margin: 0 0 20px 0;
}

#message {
    display: block;
    max-width: 95%;
    margin-bottom: 6px;
}

input[type=submit] {
    border-width: 3px;
    border-radius: 3px;
}

input[type=submit]:hover {
    background-color: #52525e;
}

.last-element {
    margin-bottom: 3cm;
}

/********************/
/*     Main page    */
/********************/

.contacting-me {
    margin-top: 1cm;
}

#portrait {
    width: 100%;
    max-width: 230px;
}

@media only screen and (min-width: 768px) {
    #portrait {
        margin-top:25px;
    }
}

/* media queries */

/********** small screen size (sm) and above **********/
@media only screen and (min-width: 576px) {
    .optional-break {
        display: none;
    }
}

/********** xxs devices only **********/
@media only screen and (max-width: 400px) {
    .col-xxs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
    }
}

/********************/
/* Publication page */
/********************/

#morearrow {
    cursor: pointer;
}

/* Spacing in publications view*/
#pubhidden {
    margin-top: 5px;
}

#pubButtons {
    margin-top: 5px;
}

.pic {
    cursor: pointer;
}

.list-group-item {
    background-color: #181a1b;
    border-color: #373b3e;
    border-width: 1px;
}

/* Align and change size of icons */
.list-group-item-text i {
    vertical-align:top;
    font-size: 18px;
}

.img-modal {
    max-width: 90%;
    max-height: 90%;
    height: auto;
    width: auto;
}

.pic-modal .modal-content {
    text-align: center;
    box-shadow: none;
    border-radius: 0px;
    background: transparent;
    border-color: transparent;
}

.pic-modal-back {
    opacity: 0.75 !important;
}

/********************/
/*  Projects page   */
/********************/

.new-project {
    margin-bottom: 8px;
}

/* Images */

.row-radiobooks,
.row-mahayana,
.row-face,
.row-compression,
.row-deepsplines,
.row-boxsplines,
.row-matterhorn,
.row-cat-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
}

.row-radiobooks,
.row-mahayana,
.row-face,
.row-compression,
.row-deepsplines,
.row-matterhorn {
    margin-top: 1.5em;
    margin-bottom: 2.5em;
}

.row-cat-dog {
    margin-top: 0;
    margin-bottom: 0;
}

.row-radiobooks,
.row-matterhorn {
    width: 19em;
}

.row-radiobooks {
    padding: 18px;
}

.row-radiobooks img,
.row-mahayana img,
.row-deepsplines img,
.row-matterhorn img {
    width: 100%;
}

.row-radiobooks,
.row-mahayana,
.row-face,
.row-deepsplines,
.row-compression,
.row-boxsplines {
    border: .4em solid #62a2b3;
    border-radius: .66em;
}

.row-radiobooks,
.row-mahayana,
.row-face,
.row-deepsplines {
    background-color: #9d9488;
}

.row-mahayana {
    width: 16em;
    padding: 1%;
}

.row-face {
    width: 30em;
}

.row-face img {
    width: 33.33%;
    padding: 4%;
}

.row-compression,
.row-boxsplines {
    border-width: .3em;
    background-color: #ffffff;
}

.row-compression,
.row-cat-dog {
    aspect-ratio: 2 / 1;
    width: 34em;  
}

.row-compression a {
    width: 49.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.row-compression div {
    width: 0.8%;
    background-color: #62a2b3;
    align-self: stretch;
}

.row-compression a img {
    width: 100%;
    padding: 4%;
}

.row-cat-dog img {
    width: 50%;
}

.row-deepsplines {
    width: 26em;
    padding: 1em;
    border-width: 5px;
}

.row-boxsplines {
    aspect-ratio: 2 / .8;
    width: 30em;
    margin-bottom: 21px;
}

.row-boxsplines > div:nth-child(1),
.row-boxsplines > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-boxsplines > div:nth-child(1) {
    width: 59.6%;
}

.row-boxsplines > div:nth-child(2) {
    width: 0.8%;
    background-color: #62a2b3;
    align-self: stretch;
}

.row-boxsplines > div:nth-child(3) {
    width: 39.6%;
}

.row-boxsplines > div:nth-child(1) > img {
    width: 90%;
}

.row-boxsplines > div:nth-child(3) > img {
    width: 70%;
}

/* Tiles */

:root {
    --container-width: 920px;
    --first-width: 280px;
}

/* Container fluid has 920 space */
/* https://stackoverflow.com/questions/45907673 */
/* https://stackoverflow.com/questions/25832340 */
.tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  column-gap: calc((var(--container-width) - 3 * var(--first-width)) / 2);
  row-gap: calc((var(--container-width) - 3 * var(--first-width)) / 2);
}

.tiles-title {
    display: flex;
    align-items: start;
    width: var(--first-width);
    height: 106px;
    margin: 0;
}

/* https://stackoverflow.com/questions/25832340 */
/* It's ok to use pixel values here because boxes have fixed pixel width */
.tiles-box {
    display: flex;
    width: var(--first-width);
    height: var(--first-width);
    border-radius: 10px;
    cursor: pointer;
    background-color: #9d9488;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tiles-box:hover {
    outline: thick solid #62a2b3;
    background-color: #c8c3bc;
}

.tiles-box.c {
    padding: 8px;
}

.tiles-box.d {
    padding: 12px;
}

.tiles-box.e {
    padding: 12px;
}

.tiles-box.a > img {
    width: 80%;
}

.tiles-box.b > img {
    height: 70%;
}

.tiles-box.c > img,
.tiles-box.d > img,
.tiles-box.e > img {
    width: 100%;
}

.tiles-box.f {
    color: #2b2a33;
    flex-wrap: wrap;
}

.tiles-box.f div {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.tiles-box.f > div:nth-child(1) {
    align-items: flex-end;
    font-size: 35px;
}

.tiles-box.f > div:nth-child(2) {
    align-items: flex-start;
    font-size: 25px;
    padding: 10px;
}


.tiles-box.f:hover,
.tiles-box.f:active {
    text-decoration: none;
}

/* media queries */

@media only screen and (max-width: 949.5px) {
    .tiles-title.empty_b {
        display: none;
    }
}

@media only screen and (max-width: 654.5px) {
    .tiles-wrapper {
        row-gap: 30px;
        column-gap: 30px
    }
    .tiles-box {
        width: 220px;
        height: 220px;
    }
    .tiles-title {
        width: 220px;
        margin-bottom: 5px;
    }
    .tiles-box.f > div:nth-child(1) {
        font-size: 30px;
    }
    .tiles-box.f > div:nth-child(2) {
        font-size: 20px;
    }
}

@media only screen and (max-width: 499.5px) {
    .tiles-title {
        align-items: center;
        justify-content: center;
    }
    .tiles-title.empty_a {
        display: none;
    }
}
